@charset "utf-8";

@import "style.css";

/* お問い合わせページ */
.contact div + div {
  margin-top: 30px;
}

#button {
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgba(168, 157, 151);
}

#button:hover {
  opacity: .5;
  transform: translateY(-10px);
  transition: 0.5s;
}
