@charset "utf-8";

/* スマホ用画面 */
@media screen and (max-width:375px) {
  /* common */

  body {
    font-size: 10px;
  }

  li {
    margin-bottom: 5px;
  }

  .container {
    width: 100%;
  }

  /* セクションごと */
  header {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  header h1 {
    align-items: center;
    line-height: 10px;
    letter-spacing: 3px;
    font-size: 25px;
  }

  header h1 a {
    display: inline-block;
    font-size: 20px;
    margin: 0;
  }

  header h1 p {
    display: block;
    margin-top: 10;
    margin-left: 0;
  }

  header #open {
    width: 100%;
    line-height: 60px;
  }

  .top-content {
    display: flex;
  }

  section {
    margin-top: 20px;
  }

  .sidebar {
    display: none;
  }



  body {
    width: 80%;
  }

  .container img {
    width: 200px;
    height: 200px;
  }

  section {
    margin-left: 10px;
    width: 80%;
  }

  footer {
    width: 375px;
    padding: 10px;
    position: static;
    top: 40px;
  }
}