@charset "utf-8";

@media screen and (max-width:1000px) {
  /* header */
  header {
    display: inline-block;
    align-items: center;
  }

  /* tab menu */
  .sp-menu {
    display: flex;
    margin-left: 50px;
  }

  .sp-menu #open {
    cursor: pointer;
  }

  .sp-menu #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
  }
  
  .overlay.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }
  
  .overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .overlay li {
    margin-top: 24px;
  }
  /* body */
  .top-content {
    margin-top: 300px;
  }

  /* sideber */
  .sidebar {
    display: none;
  }

  /* お問い合わせフォーム */
  section.contact {
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
  }
}