@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* メインページと共通セクション */
/* common */
html {
  font-family: "M PLUS Rounded 1c";
}

body {
  margin: 0;
  font-size: 20px;
}

h1 {
  line-height: normal;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 600px;
  margin: 0 auto;
}

/* header */
header {
  background-color: rgba(168, 157, 151);
  margin: 0;
  padding: 30px;
  display: flex;
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  line-height: 20px;
  letter-spacing: 5px;
  margin-right: auto;
}

header h1:hover {
  opacity: 0.5;
}

.icons {
  margin-right: 100px;
  line-height: 60px;
  display: flex;
}

.bi-twitter:hover,
.bi-github:hover {
  opacity: .5;
}

.bi-twitter::before {
  padding-right: 10px;
}

/* main */
.container img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 30px auto;
  border:1px solid #EEE;
  box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
}

main {
  margin: 0 auto;
}

section {
  margin-left: 100px;
  padding: auto;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 100px;
  border:1px solid #EEE;
  box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
}

.main-contents {
  display: flex;
  margin: 0 auto;
}

/* sidebar */

.top-content {
  display: flex;
  margin-top: 150px;
}

.sidebar {
  float: left;
  width: 250px;
  padding: 0 auto;
}

.sidebar menu ul li:hover {
  opacity: .5;
  transform: translateY(-10px);
  transition: 0.5s;
}

menu ul li + li {
  margin-top: 30px;
}

/* footer */
footer {
  background-color: rgba(168, 157, 151);
  margin: 0;
  padding: 30px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
}

footer small {
  color: #EEE;
}

/* スマホ用画面 */

@media screen and (max-width:600px) {
  .sidebar {
    display: none;
  }

  header h1 {
    line-height: 20px;
    letter-spacing: 3px;
    margin-right: auto;
    font-size: 25px;
  }

  body {
    width: 80%;
  }

  .container img {
    width: 200px;
    height: 200px;
  }

  section {
    margin-left: 10px;
    width: 80%;
  }

  footer {
    width: 100%;
  }
}