@charset "utf-8";

/* スマホ用画面 */
@media screen and (max-width:375px) {
  /* common */
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  body {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  .container {
    width: 100%;
  }

  /* セクションごと */
  header {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header h1 {
    line-height: 10px;
    letter-spacing: 3px;
    font-size: 25px;
  }

  header h1 a {
    display: inline-block;
    font-size: 20px;
    margin: 0;
  }

  header > h1 > a > p {
    display: block;
    margin-top: 10;
    margin-left: 0;
  }

  span#open.material-symbols-outlined {
    padding: 0;
    margin: 0;
  }

  .top-content {
    margin-top: 180px;
    width: 100vw;
  }

  /* main部分 */
  main {
    width: 100%;
  }

  .main_content {
    width: 100%;
  }

  section {
    margin-left: 0px;
    width: 100vw;
    padding: 20px;
    margin-bottom: 30px;
  }

  section ul {
    margin: 0px;
    padding: 10px;
  }

  .sidebar {
    display: none;
  }

  body {
    width: 80%;
  }

  .container img {
    width: 200px;
    height: 200px;
  }

  footer {
    width: 100vw;
    margin: 0;
    padding: 20px;
    display: flex;
  }
}