@charset "utf-8";

@media screen and (max-width:1000px) {

  .sidebar {
    display: none;
  }

  header {
    display: inline-block;
    align-items: center;
  }

  header #open {
    width: 100%;
    line-height: 60px;
    margin-left: 50px;
    cursor: pointer;
  }

  .sp-menu #open.hide {
    display: none;
  }

  header #open:hover {
    opacity: 0.5;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 50px;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }



  /* body */
  .top-content {
    margin-top: 300px;
  }

}